.container{
   display: flex;
   flex-direction: column;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
h3{
    text-align: center
}
.class{
    margin: auto;
}
button{
    cursor: pointer;
}
